

#logo a {
  text-decoration: none;
  color: black;
}

header {
  margin-bottom: 50px;
}

header h1{
  font-size: 50px;
  text-align: left;
  margin-left: 40px;
  display: inline;
}

header ul {
  list-style: none;
  float: right;
}

header ul a {
  text-decoration: none;
  color: #9B9B9B;
}

header ul li {
  float: left;
  margin-right: 20px;
}

#search {
  text-align: center;
  margin-top: 100px;
}

#search input {
  width: 400px;
  height: 40px;
  text-align: center;
}

#center_menu{
  text-align: center;
  margin-top: 200px;
}

#center_menu ul {
  text-align: left;
  list-style: none;
  font-size: 30px;
  color: #9B9B9B;
}

#center_menu ul li {
  margin-bottom: 20px;
}

#menu_bar {
  height: 50px;
}

#menu_bar .btn_zoom {
  float: right;
  margin-right: 50px;
}

#menu_bar button {
  cursor: pointer;
  outline:none;
  float: left;
  margin-right: 10px;
  font-size: 18px;
}

#plus, #minus {
  border: none;
  background-color: inherit;
  text-align: center;
}

#container {
  display: flex;
  justify-content: space-around;
}

#booksInLibrary {
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#booksInLibrary::after {
  content: "";
  flex: auto;
}


.book {
  margin: 10px 10px 70px 0;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book img {
  width: 130px;
}

.book_info {
  list-style: none;
}

.book_info li {
  margin-bottom: 20px;
}
